.add_project_modal {
    margin: 0;
    width: 50%;
    background-color: var(--light-gray);
    position: fixed;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Move the modal back by half of its own width and height */
    border-radius: 10px;
}

.modal_header {
    height: 80px;
    background-color: var(--dark-gray);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.project_name_input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--dark-gray);
    margin: 10px 0px;
    width: 400px;
}

.modal_btn {
    font-weight: 500;
    color: var(--white);
    background-color: var(--dark-gray);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.modal_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.close_btn {
    background-color: var(--danger);
    border-radius: 100%;
    padding: auto;
    color: var(--white);
    padding: 10px 16px;
    cursor: pointer;
    border: none;
}

.bg_danger {
    background-color: var(--danger);
}

.modal_select_menu {
    width: 100%;
    border: var(--dark-gray);
    height: 36px;
    background-color: var(--white);
    text-align: center;
    box-shadow: 0px 2px;
}

.f_dir_col {
    flex-direction: column;
}

.f_dir_row {
    flex-direction: row;
}

.expense_container_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.project_expense_input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--dark-gray);
    margin: 10px 0px;
    min-width: 150px;
    width: 200px;
}

.project_expense_datepicker {
    padding: 10px !important;
    border-radius: 10px;
    border: 1px solid var(--dark-gray);
    margin: 10px 0px;
    min-width: 150px;
    width: 200px;
}

.w-200 {
    width: 200px;
    min-width: 150px;
}

.w-350 {
    width: 350px;
    min-width: 150px;
}

.mt-10 {
    margin-top: 10px;
}

button:disabled {
    color: var(--danger);
    cursor: not-allowed;
}

.edit_modal_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}