.contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: 600;
    margin: 0px 20px;
}

.proj_container {
    background-color: var(--light-gray);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.expense_container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 100%;
}

.menu_btn {
    font-weight: 500;
    color: var(--white);
    background-color: var(--dark-gray);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}